<h2><%= @task.title %></h2>
<p><%= @task.details %></p>
<%= link_to 'Back to list', tasks_path %>
<%= link_to task_path(@task), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } do %>
  <i class="fa-solid fa-trash" style="color: #00000;"></i>
<% end %>
